<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div style="width: 12%;"></div>
    <%= link_to root_path, class: "navbar-brand" do %>
    <h1 class="navbar-header"><%= image_tag "favicon3.png" %>TauschMe</h1>

    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item active">
            <%= link_to "Home", root_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", chatroom_path , class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, class: "nav-link", method: :delete %>
          <li class="nav-item dropdown">
           <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.nickname}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <%else %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
