<% if user_signed_in? %>
<%= render 'shared/navbar_loggedin' %>
      <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2760&q=80);">
  <div class="structure" class="box">
    <h1>Trade your apartment, not your sanity</h1>
    <p class="text-center">Moving is difficult, so join a vibrant community of priviledged old-lease holders <br> and tausch your apartment today</p>
    <div class="flex-item">
    <% if user_signed_in? %>
      <%= link_to "Tausch Your Apartment", onboarding_path, class: "btn btn-flat" %>
      <% else %>
      <%= link_to "Join", new_user_registration_path, class: "btn btn-flat" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-ghost" %>
    <% end %>
    </div>
  </div>
</div>
<footer class="footer">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Connect with us on social media:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>TauschMe
          </h6>
          <p>
            TauschMe is an online platform providing tauschwohnung services to residents of Berlin.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Impressum</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Blog</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Careers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Our Mission</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i>Berlin, 10969, DE</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contacts@tauschme.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 49 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">TauschMe</a>
  </div>
  <!-- Copyright -->
</footer>
