<head>
  <title>TauschME</title>
  <link rel="icon" type="image/x-icon" href="/images/T4.jpg">
</head>
<%= render 'shared/navbar_index' %>



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <% @apartments.each_with_index do |apartment, index| %>
     <div class="carousel-item <%= "active" if apartment == @apartments.first %>">
        <%= link_to apartment_path(apartment) do %>
        <div class="carousel-card">
          <div class="d-flex" style="height: 100%;" >
          <div class="apartment-info">
            <div>

              <h1><%= apartment.title %></h1>
              <p><%= apartment.description %></p>
            </div>
            <div>
              <p><%= apartment.area %></p>
              <p>Rooms: <%= apartment.room %></p>
              <p><%= apartment.rent %>€ / month</p>
            </div>
          </div>
          <div class="apartment-picture">


              <% if apartment.photos.attached? %>
              <%= cl_image_tag apartment.photos.last.key %>
              <% end %>


          </div>
          </div>
        </div>
         <div class="likebutton">
          <button id="dislike"  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <%= button_to statuses_path(status: "disliked"), method: :post, id: "dislike" do %>
          <i class="fa-solid fa-circle-xmark fa-3x"></i>
          <% end %>
          <span class="visually-hidden">Previous</span>
        </button>
        <button id="like"  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <%= button_to statuses_path(user: apartment.user), method: :post, id: "like" do %>
          <i class="fa-solid fa-circle-check fa-3x"></i>
          <% end %>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
        <% end %>
     </div>
    <% end %>
  </div>
</div>
