
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @apartments.each_with_index do |apartment, index| %>
     <div class="carousel-item <%= "active" if apartment == @apartments.first %>">
        <%= link_to apartment_path(apartment) do %>
        <div class="carousel-card">
          <div class="apartment-info">
            <div>
              <h1><%= apartment.title %></h1>
              <p><%= apartment.description %></p>
            </div>
            <div>
              <p><%= apartment.area %></p>
              <p>Rooms: <%= apartment.room %></p>
              <p><%= apartment.rent %>€ / month</p>
            </div>
          </div>
          <div class="apartment-picture">
            <!-- To-do: Use image from apartment (image_tag(apartment.image)), currently there are no images on apartments even though they are uploaded -->
            <%= image_tag(index == 0 ? "https://image.capital.de/31033562/t/4_/v1/w1440/r0/-/altbauwohnung-dpa-82442803-jpg.jpg" : index == 1 ? "https://www.relocatemagazine.com/media/images/Scarpa-16_14791_t5.jpg" : "https://previews.123rf.com/images/hafizwira/hafizwira1602/hafizwira160200043/55125947-%EB%82%A8%EC%9D%B4%EC%84%AC%EC%9D%98-%EC%95%84%EC%A3%BC-%EC%9E%91%EC%9D%80-%EC%98%A4%EB%91%90%EB%A7%89%EC%A7%91-.jpg") %>
          </div>
        </div>
        <% end %>
     </div>
    <% end %>
  </div>
  <button class="carousel-control-prev text-dark" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <i class="fas fa-arrow-left fa-3x"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next text-dark" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <i class="fas fa-arrow-right fa-3x"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>