<%= render 'shared/navbar_index' %>



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner index-card">
  <% if @apartments.empty? %>
    <p class="text-center">You have seen all available apartments</p>
  <% end %>
    <% @apartments.each_with_index do |apartment, index| %>
     <div class="carousel-item <%= "active" if apartment == @apartments.first %>">
        <%= link_to apartment_path(apartment) do %>
        <div class="carousel-card">
          <div class="d-flex" style="height: 100%;" >
          <div class="apartment-info">
            <div>

              <p class="card-title"><%= apartment.title %></p>
              <%# <p><%= apartment.description %></p>
            </div>
            <div>
              <p><i class="fa-solid fa-location-dot icon-ad"></i><%= apartment.area %></p>
              <p><i class="fa-solid fa-house icon-ad-house"></i></i>Rooms: <%= apartment.room %></p>
              <p><i class="fa-solid fa-euro-sign icon-ad"></i><%= apartment.rent %>/ month</p>
            </div>
          </div>
          <div class="apartment-picture">


              <% if apartment.photos.attached? %>
              <%= cl_image_tag apartment.photos.last.key %>
              <% end %>


          </div>
          </div>
        </div>

        <% end %>
        <div class="likebutton">
          <button id="dislike" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <%= button_to statuses_path(user: apartment.user, status: "disliked"), method: :post, id: "dislike" do %>
          <i class="fa-solid fa-circle-xmark fa-4x buttoncolor"></i>
          <% end %>
          <span class="visually-hidden">Previous</span>
        </button>
        <button id="like" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <%= button_to statuses_path(user: apartment.user, status: "liked"), method: :post, id: "like" do %>
          <i class="fa-solid fa-circle-check fa-4x buttoncolor"></i>
          <% end %>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
     </div>
    <% end %>
  </div>
</div>
