
<div class="card-product">
  <% @apartment.photos.each do |photo| %>
      <%= cl_image_tag(photo.key,
        width: 150, height: 150, crop: :thumb, gravity: :face) %>
      <% end %>
  <div class="card-product-infos">
    <h2><%= @apartment.title %></h2>
    <p><%= @apartment.description %></p>
     <p><%= @apartment.rent %></p>
      <p><%= @apartment.room %></p>
      <p><%= @apartment.area %></p>
  </div>
